@font-face {
  font-family: Futura;
  src: url(/Futura\ Bold.otf);
  }

* {
  font-family: Futura;
}


.featured-text {
  padding: 2rem;
}

.featured-text-right {
  text-align: right;
  padding: 5rem;
}

@media (min-width: 992px) {
  .featured-text-right {
    padding: 0 0 0 2rem;
    border-right: 0.5rem solid #4949496c;
  }
}

@media (min-width: 992px) {
  .featured-text {
    padding: 0 0 0 2rem;
    border-left: 0.5rem solid #4949496c;
  }
}

#opener {
    width: 100%;
    height: 100%;
}

.background{
  background-image: url("img/bg-masthead_row.jpg");
  background-size: cover;
}

.background_black{
  background-color: #161616
}
.nopadding {
  padding: 0 !important;
  margin: 0 !important;
}

#sec_h {
    padding-top: 5vh;
    padding-bottom: 5vh;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 21vw;
    height: auto;
}

#product_Img {
    width: auto;
    height: 75vh;
}

#mainNav .navbar-toggler {
    font-size: 80%;
    color: #000000;
    border: 1px solid #282330;
  }

  #mainNav .navbar-toggler:focus {
    outline: none;
  }
  
  #mainNav .navbar-brand {
    
    color: #161616;
    font-weight: 700;
    padding: .9rem 0;
  }
  
  #mainNav .navbar-nav .nav-item:hover {
    color: fade(white, 80%);
    outline: none;
    background-color: transparent;
  }
  
  #mainNav .navbar-nav .nav-item:active, #mainNav .navbar-nav .nav-item:focus {
    outline: none;
    background-color: transparent;
  }

  

  @media (min-width: 992px) {
    #mainNav {
      padding-top: 0;
      padding-bottom: 0;
      border-bottom: none;
      background-color: transparent;
      -webkit-transition: background-color 0.3s ease-in-out;
      transition: background-color 0.3s ease-in-out;
    }
    #mainNav .navbar-brand {
      padding: .5rem 0;
      color: rgba(255, 255, 255, 0.5);
    }
    #mainNav .nav-link {
      -webkit-transition: none;
      transition: none;
      padding: 2rem 1.5rem;
      color: rgba(255, 255, 255, 0.5);
    }
    #mainNav .nav-link:hover {
      color: rgba(255, 255, 255, 0.75);
    }
    #mainNav .nav-link:active {
      color: white;
    }
    #mainNav.navbar-shrink {
      background-color: #fff;
    }
    #mainNav.navbar-shrink .navbar-brand {
      color: #161616;
    }
    #mainNav.navbar-shrink .nav-link {
      color: #161616;
      padding: 1.5rem 1.5rem 1.25rem;
      border-bottom: 0.25rem solid transparent;
    }
    #mainNav.navbar-shrink .nav-link:hover {
      color: #64a19d;
    }
    #mainNav.navbar-shrink .nav-link:active {
      color: #467370;
    }
    #mainNav.navbar-shrink .nav-link.active {
      color: #64a19d;
      outline: none;
      border-bottom: 0.25rem solid #64a19d;
    }
  }